{{ define "main" }}
  <div class="container px-4 mx-auto py-12">
    <div class="flex flex-col mb-10 lg:flex-row">
      <div class="mb-10 lg:w-2/3 lg:mr-10 lg:mb-0">
        <h2 class="text-chocolate uppercase font-bold text-2xl mb-10">Socios</h2>
        <p class="text-chocolate text-lg">ExploraLatam es un proyecto de <strong>ILDA</strong> con el apoyo del BID y la Fundación Avina, que junto a Luminate Group conforman ALTEC</p>
        <div class="mt-10 text-chocolate">
          {{ range .Params.partners }}
            <div class="mb-8 border-b border-gray-200 pt-4 pb-8">
              <h2 class="uppercase font-bold text-xl mb-4">{{ replace .name "_" " " }}</h2>
              <style>.partner-summary a { text-decoration: underline }</style>
              <p class="partner-summary mb-2">{{ .summary | markdownify }}</p>
              <a href="{{ .website }}" rel="noopener noreferrer" target="_blank" class="inline-block font-bold inline-flex items-center justify-start">
                <span class="mr-2">{{ replaceRE "^https?://([^/]+).*" "$1" .website }}</span>
                <i class="icon ion-ios-arrow-round-forward text-lg"></i>
              </a>
            </div>
          {{ end }}
          <p>ILDA forma parte de la iniciativa Open Data for Development (OD4D), que cuenta con el apoyo de IDRC, como nodo regional para América Latina</p>  
        </div>
      </div>
      <div class="lg:w-1/3">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
{{ end }}