body {
  font-family: 'Montserrat', sans-serif !important;
}

.bg-swirl {
  background-color: #dad3ce;
}

.bg-chocolate {
  background-color: #380101;
}

.bg-flint {
  background-color: #716c69;
}

.bg-derby {
  background-color: #ffebda
}

.border-chocolate {
  border-color: #380101;
}

.text-chocolate {
  color: #380101;
}

.text-swirl {
  color: #dad3ce;
}

.text-flint {
  color: #716c69;
}

.text-derby {
  color: #ffebda
}

.single-content * {
  margin: 0 0 1.25rem;
}

.single-content ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

.single-content h2 {
  font-size: 1.25rem;
  color: #380101;
}