<footer>
  <!-- <div class="bg-swirl p-4 text-xs md:text-sm">
    <div class="container mx-auto">
      <div class="w-full md:w-10/12 mx-auto flex items-center">
        <i class="icon ion-logo-twitter text-4xl text-white mr-4"></i>
        <p class="uppercase text-chocolate">Para mantenerse al tanto con el proyecto, las iniciativas de datos abiertos y la tecnología cívica en América Latina, síganos en Twitter <a href="https://twitter.com/idatosabiertos" target="_blank" rel="noopener noreferrer" class="text-white font-bold">@IDATOSABIERTOS</a></p>
      </div>
    </div>
  </div> -->
  <style type="text/css">
	  #mc_embed_signup{background:#fff; clear:left;}
    #mc_embed_signup label {
      font-weight: 300;
    }
    #mc_embed_signup input.email {
      font-family: 'Montserrat', sans-serif;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }
    #mc_embed_signup input.button {
      margin: 0 auto;
      background-color: #dad3ce;
      color: #380101;
      font-weight: bold;
      text-transform: uppercase;
      font-size: .875rem;
    }
    @media screen and (min-width: 768px) {
      #mc_embed_signup input.email {
        width: 60%;
      }
    }
	  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div class="p-4 text-xs md:text-sm border-t">
    <div id="mc_embed_signup" class="container mx-auto">
      <form action="https://idatosabiertos.us17.list-manage.com/subscribe/post?u=a6773071fdf46177e9eee55c4&amp;id=4f1e4fa8f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="text-chocolate">
  	      <label for="mce-EMAIL" class="uppercase text-center">Únase a nuestra lista de correos para mantenerse al tanto con el proyecto, las iniciativas de datos abiertos y la tecnología cívica en América Latina</label>
  	      <input type="email" value="" name="EMAIL" class="email mx-auto" id="mce-EMAIL" placeholder="jane@example.com" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6773071fdf46177e9eee55c4_4f1e4fa8f2" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Unirse" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-black text-white">
    <div class="container mx-auto px-4 py-6 flex flex-col md:flex-wrap md:flex-row">
      <div class="w-full mb-6 lg:w-2/6 lg:mb-0">
        <img src="/images/logo_white.png" alt="Explora LATAM" class="w-48">
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">personas</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li class="font-thin mb-1"><a href="/contacto">Únete a Explora LATAM</a></li>
          <li class="font-thin mb-1"><a href="/condiciones-de-uso">Condiciones de uso</a></li>
          <li class="font-thin mb-1"><a href="/politica-de-privacidad">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">proyectos</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li><a href="/proyectos">Ver proyectos</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">organizaciones</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li><a href="/organizaciones">Ver organizaciones</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
          <h3 class="uppercase font-bold mb-4 text-sm md:text-base">desarrollo</h3>
          <ul class="text-sm opacity-75 lg:pr-2">
            <li><a href="/contacto">Comentarios</a></li>
          </ul>
      </div>
    </div>
    <div class="border-t border-b border-gray-200">
      <div class="container mx-auto px-4 py-6 flex flex-col lg:flex-row lg:items-center">
        <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
          <div class="flex items-center text-xs mb-4">
            <a class="mr-4 w-1/5" href="https://www.datasketch.co/" target="_blank" rel="noopener noreferrer"><img src="/images/ds-logo.svg" alt="Datasketch" style="filter: brightness(0) invert(1)"></a>
            <p class="w-4/5">Sitio desarrollado por Datasketch. Un portal de aplicaciones de datos y visualización.</p>
          </div>
          <div class="flex items-center text-xs mb-4">
            <a class="mr-4 w-1/5" href="http://nesta.org.uk/" target="_blank" rel="noopener noreferrer"><img src="/images/nesta.gif" alt="Nesta"></a>
            <p class="w-4/5">Una primera versión de este sitio se basó en el <a href="https://github.com/idatosabiertos/DSI4EU" target="_blank" rel="noopener noreferrer" class="underline">código desarrollado por Nesta DSI</a>, el cual reconocemos y agradecemos.</p>
          </div>
          <div class="flex items-center text-xs">
            <a class="mr-4 w-1/5" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer"><img src="/images/cc.png" alt="CC"></a>
            <p class="w-4/5">Salvo que se indique lo contrario, nuestras actividades se ofrecen bajo licencia <a class="underline" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="flex flex-wrap items-center justify-center lg:justify-start lg:pl-10">
            <a href="https://idatosabiertos.org/" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/ilda.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="https://www.iadb.org/en" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/bid.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="http://www.avina.net/avina/" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/avina.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="https://luminategroup.com/" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/luminate.svg" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="https://altec.lat/" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/altec.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="https://www.idrc.ca/" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/idrc.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
            <a href="https://www.od4d.net" target="_blank" rel="noopener noreferrer"><img src='{{ "images/footer/op4d.png" | absURL }}' alt="" class="w-24 mr-4 mb-2"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-xs mx-auto text-center p-4">
      <p>
        ILDA es una asociación civil internacional registrada en la República Oriental del Uruguay con el número 396-18 ante el Ministerio de Relaciones Exteriores, en el registro especial para asociaciones de este tipo.
      </p>
    </div>
  </div>
</footer>