<header class="top-0 sticky bg-white shadow text-xs md:text-lg z-40">
  <nav class="container mx-auto flex justify-between items-center py-3 px-4">
    <div class="navbar-brand">
      <a href="/" class="hidden md:block">
        <img src="/images/logo.png" alt="Explora LATAM" class="w-48">
      </a>
      <a href="/" class="md:hidden">
        <img src="/images/shadowlight.png" alt="Explora LATAM" class="w-16">
      </a>
    </div>
    <div class="navbar-items flex items-center ml-4">
      <a href="#" class="uppercase flex items-center leading-none pr-4 mr-4 border-r border-gray-600 md:pr-8 md:mr-8" id="search-trigger">
        <span class="mr-4">buscar</span>
        <i class="icon ion-ios-search text-2xl"></i>
      </a>
      <div class="flex items-center cursor-pointer select-none" id="menu-trigger">
        <span class="uppercase">menu</span>
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </nav>
</header>