<h2 class="text-chocolate uppercase font-bold text-2xl mb-10">Acerca de</h2>
<ul class="text-chocolate pl-4 list-disc">
  <li class="mb-2"><a class='hover:underline{{ if eq .Section "acerca-de" }} text-red-600{{ end }}' href="/acerca-de">Acerca de este proyecto</a></li>
  <li class="mb-2"><a class='hover:underline{{ if eq .Section "socios" }} text-red-600{{ end }}' href="/socios">Socios</a></li>
  <li class="mb-2"><a class='hover:underline{{ if eq .Section "datos" }} text-red-600{{ end }}' href="#">Descargar el conjunto de datos</a></li>
  <li class="mb-2"><a class='hover:underline{{ if eq .Section "contacto" }} text-red-600{{ end }}' href="/contacto">Contacto</a></li>
</ul>